{
    "env": {
        "node": true
    },

    "rules": {
        // BEST PRACTICES
        "no-eq-null": 0, // TODO: ENABLE [2]

        // VARIABLES
        "no-shadow": 0, // TODO: ENABLE [default]
        "no-use-before-define": 0, // TODO: ENABLE [2, "nofunc"]

        // STYLISTIC ISSUES
        "indent": 2,
        "max-len": [2, 120, 4],
        "new-cap": 0, // https://github.com/eslint/eslint/issues/2023
        "no-underscore-dangle": 0,
        "quotes": [2, "single", "avoid-escape"],
        "quote-props": [2, "as-needed"],

        "brace-style": 2,
        "one-var": [2, "never"],
        "operator-linebreak": 2,
        "space-after-keywords": 2,

        // LEGACY
        "no-bitwise": 2
    }
}
